appdirs==1.4.4
certifi==2023.7.22
chardet==3.0.4
idna==2.9
numpy==1.22.0
pandas==1.0.3
pyee==7.0.2
pyppeteer==0.2.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.31.0
six==1.14.0
tqdm==4.46.0
urllib3==1.26.5
websockets==9.1
